mainmenu "Spaghetti Config tests"

config SPAGHETTI_MAX_MODULES
	int
	default 8

config SPAGHETTI_CONFIG_LOG_LEVEL
	int
	default 0

config SPAGHETTI_MODULE_MANAGER_LOG_LEVEL
	int
	default 0

config SPAGHETTI_RUNTIME_STOP_TIMEOUT_MS
	int
	default 1000

config SPAGHETTI_MQTT_STOP_TIMEOUT_MS
	int
	default 2000

source "Kconfig.zephyr"
