mainmenu "Spaghetti Runtime tests"

rsource "../../Kconfig.resources"

config SPAGHETTI_RUNTIME_LOG_LEVEL
	int
	default 0

config SPAGHETTI_RUNTIME_STACK_SIZE
	int
	default 1536

config SPAGHETTI_RUNTIME_PRIORITY
	int
	default 4

config SPAGHETTI_RUNTIME_RULE_STACK_SIZE
	int
	default 1536

config SPAGHETTI_RUNTIME_RULE_PRIORITY
	int
	default 4

config SPAGHETTI_DATA_LOG_LEVEL
	int
	default 0

config SPAGHETTI_DATA_LOGGER
	bool
	default n

source "Kconfig.zephyr"
